conanbuildinfo.txt
conaninfo.txt
conanbuildinfo.cmake
conanbuildinfo.premake.lua
cmake-build-debug/
cmake-build-release/
build/
.vscode/
.idea/
*.make
Makefile
graph_info.json
obj/
bin/
conanbuildinfo.props
encdec.vcxproj
EncDec.sln
encdec.vcxproj.filters
encdec.vcxproj.user
.vs/